<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group_one.brightlights">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NineLightModeClass"></activity>
        <activity android:name=".SixteenLightModeClass"></activity>
        <activity android:name=".TwentyFiveLights" />
        <activity android:name=".LogInClass" />
        <activity android:name=".InstructPg2"/>
        <activity android:name=".instructPg"/>
        <activity android:name=".instructPg3"/>
        <activity android:name=".HomeActivity"/>

        <activity android:name=".LevelMenuClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>